<!-- <p>Calender alrt-filter works!</p> -->

<!-- <button mat-icon-button [matMenuTriggerFor]="calenderFilter" aria-label="Example icon-button with a menu" class=" button-type-none">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.76172 7.75195H4.26172V9.25195H5.76172V7.75195ZM9.10449 7.75684H7.60449V9.25684H9.10449V7.75684ZM10.9473 7.75684H12.4473V9.25684H10.9473V7.75684ZM15.7891 7.75684H14.2891V9.25684H15.7891V7.75684ZM14.8252 11.6973L13.6055 12.917L12.3867 11.6973L11.3252 12.7578L12.5459 13.9775L11.3252 15.1973L12.3867 16.2578L13.6055 15.0381L14.8252 16.2578L15.8867 15.1973L14.667 13.9775L15.8867 12.7578L14.8252 11.6973ZM6.39551 12.917L7.61523 11.6973L8.67676 12.7578L7.45605 13.9775L8.67676 15.1973L7.61523 16.2578L6.39551 15.0381L5.17676 16.2578L4.11523 15.1973L5.33496 13.9775L4.11523 12.7578L5.17676 11.6973L6.39551 12.917ZM15.2666 4.49707V3.00977H18.502V18.5H1.50098V3.00977H4.74023V4.49707H6.24023V3.00977H13.7666V4.49707H15.2666ZM13.7666 0V1.50977H6.24023V0H4.74023V1.50977H0V20H20V1.50977H15.2666V0H13.7666Z" fill="white"/>
        </svg>
  </button> -->
  <mat-menu #calenderFilter="matMenu" class="filter-container">
    <div class="align-center">
        <div class="calender-alrt-filter">
            <div class="calender-alrt-filter-header">
                <div class="calender-alrt-filter-title">Select</div>
                <button mat-icon-button [matMenuTriggerFor]="calenderFilter" class="calender-alrt-filter-close button-type-none"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1.13594L14.8664 0L8 6.88125L1.13359 0L0 1.13594L6.86641 8.01719L0.034375 14.8641L1.16797 16L8 9.15312L14.832 16L15.9656 14.8641L9.13359 8.01719L16 1.13594Z" fill="#CCCFDE"/>
                    </svg>
                </button>
            </div>
            <div class="calender-alrt-filter-section-btn-grp">
                <button mat-flat-button class="select-btn">1 Day</button>
                <button mat-flat-button class="select-btn">1 Week</button>
                <button mat-flat-button class="select-btn">1 Month</button>
            </div>
            <div class="calender-alrt-filter-section-date-range">
                <div class="calender-alrt-filter-date-range-title">Select Data Range</div>
                <div class="calender-alrt-filter-section-colender">
                      <mat-calendar [selected]="selectedRangeValue" (click)="$event.stopPropagation()"
                        (selectedChange)="selectedChange($event)">
                    </mat-calendar>
                </div>
            </div>
            <div class="calender-alrt-filter-action-btn-grp">
                <button mat-flat-button class="action-btn">Reset</button>
                <button mat-flat-button class="action-btn active marginL20">Apply</button>
            </div>
        </div>
    </div>
  </mat-menu>

<!-- columns selection filter
<button mat-icon-button [matMenuTriggerFor]="SelectionFilter" aria-label="Example icon-button with a menu" class=" button-type-none">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.76172 7.75195H4.26172V9.25195H5.76172V7.75195ZM9.10449 7.75684H7.60449V9.25684H9.10449V7.75684ZM10.9473 7.75684H12.4473V9.25684H10.9473V7.75684ZM15.7891 7.75684H14.2891V9.25684H15.7891V7.75684ZM14.8252 11.6973L13.6055 12.917L12.3867 11.6973L11.3252 12.7578L12.5459 13.9775L11.3252 15.1973L12.3867 16.2578L13.6055 15.0381L14.8252 16.2578L15.8867 15.1973L14.667 13.9775L15.8867 12.7578L14.8252 11.6973ZM6.39551 12.917L7.61523 11.6973L8.67676 12.7578L7.45605 13.9775L8.67676 15.1973L7.61523 16.2578L6.39551 15.0381L5.17676 16.2578L4.11523 15.1973L5.33496 13.9775L4.11523 12.7578L5.17676 11.6973L6.39551 12.917ZM15.2666 4.49707V3.00977H18.502V18.5H1.50098V3.00977H4.74023V4.49707H6.24023V3.00977H13.7666V4.49707H15.2666ZM13.7666 0V1.50977H6.24023V0H4.74023V1.50977H0V20H20V1.50977H15.2666V0H13.7666Z" fill="white"/>
        </svg>
  </button> -->

  <!-- <mat-menu #SelectionFilter="matMenu" class="filter-container">
    <div class="align-center">
        <div class="select-filter">
            <div class="select-filter-header">
                <div class="select-filter-title">Filter by</div>
                <button mat-icon-button [matMenuTriggerFor]="SelectionFilter" class="calender-alrt-filter-close button-type-none"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1.13594L14.8664 0L8 6.88125L1.13359 0L0 1.13594L6.86641 8.01719L0.034375 14.8641L1.16797 16L8 9.15312L14.832 16L15.9656 14.8641L9.13359 8.01719L16 1.13594Z" fill="#CCCFDE"/>
                    </svg>
                </button>
            </div>
            <div class="select-filter-section" (click)="$event.stopPropagation()">
                <div class="select-lbl">Pump Status</div>
                <mat-form-field>
                <mat-select placeholder="Select Pump Status">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="select-filter-section" (click)="$event.stopPropagation()">
                <div class="select-lbl">Performance</div>
                <mat-form-field>
                <mat-select placeholder="Select Performance">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="select-filter-section" (click)="$event.stopPropagation()">
                <div class="select-lbl">Select your toppings:</div>
                <section class="checkbox-section" [formGroup]="toppings">
                    <p><mat-checkbox formControlName="EffectiveRunTime">Effective Run Time (%)</mat-checkbox></p>
                    <p><mat-checkbox formControlName="CyclesToday">Cycles Today (dimensionless)</mat-checkbox></p>
                    <p><mat-checkbox formControlName="StructuralLoad">Structural Load (%)</mat-checkbox></p>
                    <p><mat-checkbox formControlName="MinMaxLoad">Min/Max Load (lbs)</mat-checkbox></p>
                    <p><mat-checkbox formControlName="GearboxLoad">Gearbox Load (%)</mat-checkbox></p>
                    <p><mat-checkbox formControlName="RodStress">Rod Stress (%)</mat-checkbox></p>
                </section>
            </div>
    
            <div class="select-filter-action-btn">
                <button mat-flat-button class="action-btn active">Apply</button>
            </div>
        </div>
    </div>
</mat-menu> -->

<div class="align-center">
    <div class="calender-alrt-filter">
        <div class="calender-alrt-filter-header">
            <div class="calender-alrt-filter-title">Select</div>
            <div class="calender-alrt-filter-close"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1.13594L14.8664 0L8 6.88125L1.13359 0L0 1.13594L6.86641 8.01719L0.034375 14.8641L1.16797 16L8 9.15312L14.832 16L15.9656 14.8641L9.13359 8.01719L16 1.13594Z" fill="#CCCFDE"/>
                </svg>
            </div>
        </div>
        <div class="calender-alrt-filter-section-btn-grp">
            <button mat-flat-button class="select-btn">1 Day</button>
            <button mat-flat-button class="select-btn">1 Week</button>
            <button mat-flat-button class="select-btn">1 Month</button>
        </div>
        <div class="calender-alrt-filter-section-date-range">
            <div class="calender-alrt-filter-date-range-title">Select Data Range</div>
            <div class="calender-alrt-filter-section-colender">
                  <mat-calendar [selected]="selectedRangeValue"
                    (selectedChange)="selectedChange($event)">
                </mat-calendar>
            </div>
        </div>
        <div class="calender-alrt-filter-action-btn-grp">
            <button (click)="cancelClick()" mat-flat-button class="action-btn">Reset</button>
            <button (click)="applyClick()" mat-flat-button class="action-btn active marginL20">Apply</button>
        </div>
    </div>
</div>

<!-- <p>shorting filter work</p>

<div class="align-center">
    <div class="select-filter">
        <div class="select-filter-header">
            <div class="select-filter-title">Filter by</div>
            <button mat-icon-button class="select-filter-close button-type-none"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1.13594L14.8664 0L8 6.88125L1.13359 0L0 1.13594L6.86641 8.01719L0.034375 14.8641L1.16797 16L8 9.15312L14.832 16L15.9656 14.8641L9.13359 8.01719L16 1.13594Z" fill="#CCCFDE"/>
                </svg>
            </button>
        </div>
        <div class="select-filter-section">
            <div class="select-lbl">Pump Status</div>
            <mat-form-field>
            <mat-select placeholder="Select Pump Status">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="select-filter-section">
            <div class="select-lbl">Performance</div>
            <mat-form-field>
            <mat-select placeholder="Select Performance">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="select-filter-section">
            <div class="select-lbl">Select your toppings:</div>
            <section class="checkbox-section" [formGroup]="toppings">
                <p><mat-checkbox formControlName="EffectiveRunTime">Effective Run Time (%)</mat-checkbox></p>
                <p><mat-checkbox formControlName="CyclesToday">Cycles Today (dimensionless)</mat-checkbox></p>
                <p><mat-checkbox formControlName="StructuralLoad">Structural Load (%)</mat-checkbox></p>
                <p><mat-checkbox formControlName="MinMaxLoad">Min/Max Load (lbs)</mat-checkbox></p>
                <p><mat-checkbox formControlName="GearboxLoad">Gearbox Load (%)</mat-checkbox></p>
                <p><mat-checkbox formControlName="RodStress">Rod Stress (%)</mat-checkbox></p>
            </section>
        </div>

        <div class="select-filter-action-btn">
            <button mat-flat-button class="action-btn active">Apply</button>
        </div>
    </div>
</div> -->


<!-- mat menu with click button  -->




  

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
