<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="getSelectedTab('home')" tab="home">
      <div *ngIf="activeTabName =='home'" class="topbar"></div>
      <ion-icon class="tab_icon" [src]="DashboardIcon"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button (click)="getSelectedTab('wells')" tab="wells">
      <div *ngIf="activeTabName =='wells'" class="topbar"></div>
      <ion-icon class="tab_icon" [src]="WellIcon"></ion-icon>
      Wells
    </ion-tab-button>
    <ion-tab-button (click)="getSelectedTab('alerts')" tab="alerts">
      <div *ngIf="activeTabName =='alerts'" class="topbar"></div>
      <ion-icon class="tab_icon" [src]="WarningIcon"></ion-icon>
      Alerts
    </ion-tab-button>
    <ion-tab-button (click)="getSelectedTab('events')" tab="events">
      <div *ngIf="activeTabName =='events'" class="topbar"></div>
      <ion-icon class="tab_icon" [src]="CalendarIcon"></ion-icon>
      Events
    </ion-tab-button>
    <ion-tab-button id="click-trigger" (click)="getSelectedTab('more')" tab="more">
      <div *ngIf="activeTabName =='more'" class="topbar"></div>
      <ion-icon class="tab_icon" [src]="MoreIcon"></ion-icon>
      More
    </ion-tab-button>
  </ion-tab-bar>
  <ion-popover [isOpen]="isOpenPopOver">
    <ng-template>
      <ion-content class="popover-content">
        <ion-item>Item 1</ion-item>
        <ion-item>Item 2</ion-item>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-tabs>