::ng-deep .filter-container.mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: fit-content !important;
    min-width: auto !important;

    .mdc-list {
        padding: 0 !important;
    }
}

button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'SLBSans';

    p {
        font-size: 12px;
        color: #000;
        font-weight: 700;
    }

    .p1 {
        color: #FFF !important;
    }
}

.calender-alrt-filter {
    width: 320px;
    background: #404352;
    height: auto;
    border: 1px solid #404352;
    padding: 17px;
    margin: auto;
    margin-top: 32px;
    font-family: 'SLBSans';

    .button-type-none {
        background: none;
        border: none;
        cursor: pointer;
    }

    .calender-alrt-filter-header {
        display: flex;
        justify-content: space-between;

        .calender-alrt-filter-title {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }

        .calender-alrt-filter-close {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .calender-alrt-filter-section-btn-grp {
        display: flex;
        justify-content: space-around;
        padding: 12px 30px;

        .select-btn {
            font-size: 10px;
            background-color: #080912;
            border: 1px solid #6BA7FF;
            color: #fff;
            padding: 6px 16px;
            height: 35px;
            border-radius: 40px;
            width: 96px;
        }
    }

    .calender-alrt-filter-section-date-range {
        .calender-alrt-filter-date-range-title {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }

        ::ng-deep {
            .mat-mdc-button.mat-unthemed {
                --mdc-text-button-label-text-color: #fff;
            }

            .mat-calendar-arrow {
                fill: #fff;
            }

            .mat-calendar-previous-button::after,
            .mat-calendar-next-button::after {
                color: #fff;
            }

            .mat-calendar-table-header {
                color: #8B90AD;

            }

            .mat-calendar-body-label,
            .mat-calendar-body-cell-content {
                color: #EBECF2;
            }

            .mat-calendar-table-header-divider::after {
                background: #8B90AD;
            }

            .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
                border-color: #6BA7FF;
            }

            .mat-calendar-body-selected {
                background-color: #3A83FF;
                color: #fff !important;
                border-color: #FABB42;
                border-width: 2px !important;
            }

            .mat-calendar-body-in-range::before {
                background: #505575;
            }
        }

    }

    .calender-alrt-filter-action-btn-grp {
        display: flex;
        justify-content: center;
        padding: 30px 30px;
        border-top: 1px solid #313652;

        .action-btn {
            font-size: 10px;
            background-color: #080912;
            border: 1px solid #6BA7FF;
            color: #fff;
            padding: 6px 16px;
            height: 35px;
            border-radius: 40px;
            width: 112px;
        }

        .active {
            background-color: #6BA7FF;
            color: #080912;
        }
    }


}


// select filter css

.select-filter {
    width: 400px;
    background: #404352;
    height: auto;
    border: 1px solid #404352;
    padding: 17px;
    margin: auto;

    .button-type-none {
        background: none;
        border: none;
        cursor: pointer;
    }

    .select-filter-header {
        display: flex;
        justify-content: space-between;

        .select-filter-title {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }

        .select-filter-close {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .select-filter-section {
        margin-top: 18px;

        .select-lbl {
            font-size: 12px;
            color: #EBECF2;
            padding: 4px 0;
        }

        ::ng-deep {
            .mat-mdc-form-field {
                display: block;

                .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                    background-color: #080912E5;
                    border-radius: 10px;
                    // border: 1px solid #8B90ADBF;
                    padding: 8px 12px;
                }

                .mdc-line-ripple::after,
                .mdc-line-ripple::before {
                    border-bottom-width: 0 !important;
                }

                .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
                    color: #fff !important;
                }

                .mat-mdc-select-placeholder {
                    color: #ADB1C7;
                }

                .mat-mdc-select-arrow {
                    color: #fff;
                }

                .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
                    padding-top: 1px;
                    padding-bottom: 1px;
                    padding-left: 2px;
                }

                .mat-mdc-form-field-infix {
                    min-height: fit-content;
                }
            }

            .checkbox-section p {
                margin: 0 !important;
            }

            .mat-mdc-checkbox-touch-target {
                height: 36px;
                width: 36px;
            }

            .mdc-checkbox .mdc-checkbox__background {
                top: calc((var(--mdc-checkbox-state-layer-size) - 23px) / 2);
                left: calc((var(--mdc-checkbox-state-layer-size) - 23px) / 2);
            }

            .mdc-checkbox {
                height: 12px;
                flex: 0 0 14px;
            }

            .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
                border-color: #ADB1C7;
                background-color: #080912;
            }

            .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
                border-color: #FABB42;
                background-color: #3A83FF;
            }

            .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
                color: #080912;
            }
        }

    }

    .select-filter-action-btn {
        display: flex;
        justify-content: flex-end;
        padding: 30px 0px;

        .action-btn {
            font-size: 10px;
            background-color: #080912;
            border: 1px solid #6BA7FF;
            color: #fff;
            padding: 6px 16px;
            height: 35px;
            border-radius: 40px;
            width: 112px;
        }

        .active {
            background-color: #6BA7FF;
            color: #080912;
        }
    }
}