.container {
    display: flex;
    flex: 1;

    .diva1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;

        ion-searchbar {
            --background: #000 !important;
            --color: #FFF;
            margin: 0 auto;
            padding: 0px;
            margin-left: 10px;
            --border-radius: 26px;
            --box-shadow: 0.2px 0px 1px 1px #989aa2, 0 1px 0px 0 #989aa2;
            margin-top: 3px;
            transform: scaleY(0.8);
            height: 44px;
            width: 86%;
            input {
                font-size: 11px !important;
            }

        }

        .icon-16 {
            display: flex;

            ion-icon {
                width: 24px;
                height: 24px;
            }
        }
    }

    .div1 {
        display: flex;
        flex: 1;
        flex-direction: row;
        background: #000 !important;
        height: 48px !important;
        font-family: 'SLBSans';

        .div2 {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex: 1;
            justify-items: center;
            align-items: center;
            padding-left: 8px;

            p {
                color: #fff !important;
                margin: 0px;
                font-size: 16px;
                font-weight: 500;
            }

            .icon-16 {
                display: flex;

                ion-icon {
                    font-size: 20px !important;
                }
            }
        }

        .div3 {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex: 1;
            justify-items: center;
            align-items: center;

            ion-icon {
                width: 20px;
                height: 20px;
                margin-right: 15px;
                color: #fff !important;
            }
        }
    }
}

.searchbar-search-icon {
    color: #FFF !important;
}
.searchbar-input .sc-ion-searchbar-ios{
    padding-left: 30px !important;
}