<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="drawer">
        <ion-menu-toggle autoHide="false" *ngFor="let p of pages;let i=index;">
          <div class="ditem" (click)="_OnSelected(i)" [routerLink]="[p.url]" routerLinkActive="selected"
            routerDirection="root" lines="none" detail="false">
            <p class="p1" [ngStyle]="p.isSelected && {'background' : 'url(../assets/images/itembg.png)'}">{{ p.title }}
            </p>
          </div>
        </ion-menu-toggle>
        <div class="contn">
          <div class="slbicon">
            <ion-icon [src]="Slbicon"></ion-icon>
          </div>
          <div class="linear_line"></div>
          <div class="sicon">
            <ion-icon [src]="SettingIcon"></ion-icon>
            <span>Settings</span>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>