<ion-toolbar class="toolbar">
  <div class="div1">
    <div class="div2">
      <!-- <ion-icon class="icon" name="caret-forward-circle-outline"> </ion-icon> -->
      <ion-menu-toggle>
        <ion-button style="position: absolute; left: 12px;   bottom: 5px; opacity: 0;"></ion-button>
      </ion-menu-toggle>
      <div class="d3">
        <ion-icon class="d2delfi" [src]="DelfiIcon"></ion-icon>
        <ion-icon class="d2down" [src]="ArrowDownIcon"></ion-icon>
        |
        SRP
      </div>
    </div>
    <div class="div3">
      <ion-icon class="icon" name="alert-circle-outline"></ion-icon>
      <ion-icon class="icon" name="notifications-outline"></ion-icon>
    </div>
  </div>
</ion-toolbar>