<ion-toolbar class="toolbar">
  <div class="div1">
    <div class="div2">
      <div class="d3">
        <ion-menu-toggle>
          <ion-icon class="d2delfi" [src]="DelfiIcon"></ion-icon>
        </ion-menu-toggle>
        <ion-icon class="d2down" [src]="ArrowDownIcon"></ion-icon>
        |
        SRP
      </div>
    </div>
    <div class="div3">
      <ion-icon class="icon" name="alert-circle-outline"></ion-icon>
      <ion-icon class="icon" name="notifications-outline"></ion-icon>
    </div>
  </div>
</ion-toolbar>